* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #7FFFD4;
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.container{
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    height: 500px;
    width: 500px;

    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    box-sizing: content-box;
}

.cell{
    width: calc(100% / var(--sideSquare));
	height: calc(100% / var(--sideSquare));
	border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}

.hidden{
    display: none;
}

.clicked{
    background-color: blue;
}